@charset "UTF-8";
/*Variables y animaciones*/
/*Presets*/
/* funcionamiento margin y padding

margin 10px 10px 10px 10px
        T   R   B   L

margin 20px
        TRBL al tiempo

margin 20px 10px
        T B / L R        

margin 10px 10px 20px "No se usa mucho"
        T    LR   B
*/
/*Reset de Estilos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Parkinsans";
}

/*ESTILOS GENERALES BODY*/
body {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 247, 242);
}

/*estilos listas*/
li {
  list-style: none;
  transition: all 0.3s; /*animacion botones header*/
}

/*estilos links*/
a {
  text-decoration: none;
}

li:hover {
  font-weight: bold;
  background-color: rgb(189, 189, 238);
  border-radius: 30px;
  transform: translateY(-3px); /*animacion botones header*/
}

li:active {
  background-color: rgb(172, 107, 238);
}

::placeholder {
  color: rgb(148, 167, 214);
}

/*Estilos titulos*/
h1, h2 {
  font-family: "Archivo Black";
}

.lander__title {
  font-size: clamp(4rem, 20vw, 20rem);
  color: rgb(119, 158, 243);
}

h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  color: rgb(106, 121, 205);
  text-align: center;
}

h1:hover {
  color: rgb(164, 139, 234);
}

h2 {
  font-size: clamp(2rem, 6vw, 3rem);
  color: rgb(106, 121, 205);
}

h2:hover {
  color: rgb(238, 190, 173);
}

/*Estilos header*/
#header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgb(174, 183, 229);
  text-align: center;
}
#header .navbar-nav {
  align-items: center;
  row-gap: 3px;
}
#header .navbar-toggler {
  z-index: 1050;
}

.nav-item {
  border: solid rgb(70, 94, 171) 2px;
  border-radius: 20px;
  width: 200px;
}

/* estilos main*/
#main {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding-top: 40px;
  margin: 3rem 0;
  width: 100%;
  max-width: 1600px;
}

.containerMain {
  background-color: rgb(230, 236, 245);
  border: dotted 3px rgba(34, 0, 128, 0.523);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
  padding: 20px;
  text-align: justify;
}

.button {
  width: 90px;
  border: none;
  background-color: rgb(139, 107, 191);
  color: white;
  border-radius: 20px;
  text-align: center;
  transition: all 0.3s; /*animacion botones main*/
}

.button:hover {
  font-weight: bold;
  background-color: rgb(189, 189, 238);
  border-radius: 30px;
  transform: translateY(-10px); /*animacion botones main*/
}

/*Pages*/
/*HOME PAGE*/
/*Lander*/
.lander {
  justify-content: space-evenly;
  position: relative;
}
.lander .lander__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
  animation: welcome-title 0.5s 0.7s backwards;
}
.lander .lander__title {
  animation: welcome-title 0.5s 0.4s backwards;
}

/*animacion lander*/
@keyframes welcome-title {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/*HomePage - Portfolio Section*/
#carouselExample {
  width: 90%;
  max-width: 1400px;
}

.c-item {
  aspect-ratio: 1/1;
}

/*aplica tambien para carusel de proyectos*/
.c-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/*HomePage - About Me Section*/
.homesect2__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.homesect2__info .homesect2__image {
  border-radius: 2rem;
  border: solid rgb(134, 134, 204);
  width: 100%;
  max-width: 350px;
  height: auto;
}

/*HomePage - Projects Section*/
#carouselExample_2 {
  width: 90%;
  max-width: 1400px;
}

/*HomePage - Contact Section*/
.homesect4__image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 2rem;
}

.homesect4__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
}

.homesect4__formitems {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color: rgba(191, 189, 241, 0.676);
  border-radius: 20px;
  padding: 1rem;
  width: 90%;
  max-height: 300px;
}
.homesect4__formitems textarea {
  height: 100px;
}

.formtext, .formArea {
  text-align: center;
  border: none;
  border-radius: 10px;
  width: 90%;
}

.formitems-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.formitems-buttons .formitems-button {
  width: 80px;
  color: rgb(255, 253, 255);
  border: none;
  background-color: rgb(139, 107, 191);
  border-radius: 20px;
}

/*Estilos PORTFOLIO Page*/
.portafolio__pictures {
  border: solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 1rem;
}

/*imagenes individuales*/
.portafolio__pictures--img {
  border: red solid 1px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  background-color: rgb(182, 213, 255);
  border-radius: 1rem;
  padding: 1rem;
}

.portafolio__pictures--img img {
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
}

.portafolio__pictures--img article {
  font-size: 1rem;
  color: black;
  border: 1px blue solid;
}

/*Estilos ABOUT ME page*/
.aboutMe__container {
  border: solid black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 20px;
  padding: 20px;
}

.aboutme__img {
  border-radius: 2rem;
  border: solid rgb(134, 134, 204);
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.aboutMe__details {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.aboutMe__info {
  text-align: justify;
  background-color: powderblue;
  max-width: 1200px;
}

.aboutme__img2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 700px;
  height: auto;
  aspect-ratio: 2/1;
  object-fit: cover;
}

/*Estilos PROYECTS Page*/
.container_Projects {
  border-radius: 1rem;
  background-color: rgba(202, 197, 240, 0.962);
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 3rem;
  gap: 2rem;
  text-align: justify;
}
.container_Projects p {
  padding: 1rem;
  border-radius: 1rem;
}

.project__picture {
  border-radius: 2rem;
  width: 100%;
  max-width: 700px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

/* Estilos CONTACT PAGE*/
.contactPage__container {
  border: solid rgb(235, 186, 186);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
  padding: 20px 0;
}

.contactPage__image {
  width: 100%;
  max-width: 400px;
  border-radius: 2rem;
}

.contactPage__form {
  background-color: rgba(191, 189, 241, 0.676);
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  width: 90%;
  max-width: 600px;
  height: 300px;
}

.contactPage__form textarea {
  height: 100px;
}

.mapaFormContacto {
  margin-left: auto;
  margin-right: auto;
}

/*Presets Footer*/
/*Footer*/
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(209, 176, 225);
  text-align: center;
}
#footer p {
  margin: 0;
}
#footer i {
  font-size: 35px;
  color: rgb(85, 51, 117);
}
#footer .footer__button--button {
  border: solid 3px;
  border-radius: 30px;
  padding: 5px;
  color: rgb(243, 235, 255);
}

/*MediaQueries*/
/*--------Media Queries Desktops----------*/
@media (min-width: 992px) {
  /*Header*/
  .navbar-collapse {
    margin-right: 1rem;
  }
  .navbar-collapse .nav-item {
    border-radius: 20px;
    width: 100px; /*cambio del tamaño de los botones*/
  }
  /*Main Page*/
  #main {
    margin: 3rem auto;
  }
  .containerMain {
    border: dotted 2px rgb(151, 142, 215);
    width: 100%;
    height: 82vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    row-gap: 20px;
  }
  /*HOME PAGE*/
  /*Lander*/
  .lander {
    position: relative;
  }
  .lander__img {
    max-width: 100%;
    height: 90%;
  }
  .lander__title {
    position: absolute;
    align-self: center;
    top: 150px;
  }
  /*HomePage - Portfolio Section*/
  .homesect1 {
    height: 900px;
  }
  .c-item {
    aspect-ratio: 2/1;
  }
  /*HomePage - About Me Section*/
  .homesect2 {
    height: 91vh;
  }
  .homesect2__info {
    width: 95%;
    flex-direction: row;
    column-gap: 3rem;
    padding: 2rem;
    justify-content: space-evenly;
  }
  .homesect2__info img {
    width: 400px;
  }
  .homesect2__info p {
    border: solid;
    border-radius: 1rem;
    max-width: 800px;
    padding: 1rem;
    background-color: rgb(196, 234, 255);
  }
  /*HomePage - Projects Section*/
  .homesect3 {
    height: 900px;
  }
  /*HomePage - Contact Section*/
  .homesect4 {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .homesect4__formitems textarea {
    height: 200px;
  }
  /*Estilos CONTACT Page*/
  .contactPage__container {
    flex-direction: row;
    justify-content: space-evenly;
    height: 80vh;
  }
  .mapaFormContacto iframe {
    width: 600px;
  }
  /*Estilos PROYECTS Page*/
  /*ilustracion Luisa*/
  .projectsPage__container1 {
    height: 100vh;
    border: solid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-template-rows: 3rem 2fr 2fr 7rem;
    align-items: center;
    gap: 1rem;
  }
  .project__picture {
    margin: 0;
    border-radius: 1rem;
    max-width: 100%;
  }
  .project1__title {
    grid-column: 1/4;
  }
  .projectimg1 {
    grid-column: 2/5;
    grid-row: 2/4;
    height: 100%;
    object-fit: cover;
  }
  .projectimg2 {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: stretch;
    justify-self: stretch;
  }
  .project1--paragrahp {
    grid-column: 1/5;
    grid-row: 4/5;
  }
  .projectimg3 {
    grid-column: 1/2;
    grid-row: 3/4;
    align-self: stretch;
    justify-self: stretch;
  }
  /*horoscopos*/
  .projectsPage__container2 {
    height: 400vh;
    border: solid;
    grid-template-columns: 2fr 1fr 2fr 2fr;
    grid-template-rows: 3rem 2fr 1fr 1fr repeat(3, 1rem 2fr 1fr 1fr);
    align-items: center;
    gap: 1rem;
  }
  .project2img1 {
    grid-column: 1/3;
    grid-row: 2/5;
    object-fit: cover;
  }
  .project2img2 {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .project2img3 {
    grid-column: 4/5;
    grid-row: 2/4;
  }
  .project2--paragrahp {
    grid-column: 3/5;
    grid-row: 4/5;
    padding: 1rem;
  }
  /*Signos Tierra*/
  .project2img4 {
    grid-column: 1/3;
    grid-row: 6/9;
    object-fit: cover;
  }
  .project2img5 {
    grid-column: 3/4;
    grid-row: 6/8;
  }
  .project2img6 {
    grid-column: 4/5;
    grid-row: 6/8;
  }
  .project2--paragrahp2 {
    grid-column: 3/5;
    grid-row: 8/9;
  }
  /*Signos Fuego*/
  .project2img7 {
    grid-column: 1/3;
    grid-row: 10/13;
    object-fit: cover;
  }
  .project2img8 {
    grid-column: 3/4;
    grid-row: 10/12;
  }
  .project2img9 {
    grid-column: 4/5;
    grid-row: 10/12;
  }
  .project2--paragrahp3 {
    grid-column: 3/5;
    grid-row: 12/13;
  }
  /*Signos Agua*/
  .project2img10 {
    grid-column: 1/3;
    grid-row: 14/17;
    object-fit: cover;
  }
  .project2img11 {
    grid-column: 3/4;
    grid-row: 14/16;
  }
  .project2img12 {
    grid-column: 4/5;
    grid-row: 14/16;
  }
  .project2--paragrahp4 {
    grid-column: 3/5;
    grid-row: 16/17;
  }
  /*Polinizadores*/
  .projectsPage__container3 {
    height: 100vh;
    border: solid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem 2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
  }
  .project3__title {
    grid-column: 1/3;
  }
  .project3img1 {
    grid-column: 1/3;
    grid-row: 2/5;
    object-fit: cover;
  }
  .project3img2 {
    grid-column: 3/4;
    grid-row: 2/4;
  }
  .project3img3 {
    grid-column: 4/5;
    grid-row: 2/4;
  }
  .project3--paragrahp {
    grid-column: 3/5;
    grid-row: 4/5;
  }
  /*About Me Page*/
  .aboutMe__container {
    height: 80vh;
    flex-direction: row;
    background-color: rgb(230, 236, 245);
    border: dotted 3px rgba(34, 0, 128, 0.523);
  }
  .aboutMe__container article {
    padding: 1rem;
  }
  /*Footer*/
  #footer {
    flex-direction: row;
    height: 150px;
  }
  .footer__info p {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
