/* funcionamiento margin y padding

margin 10px 10px 10px 10px
        T   R   B   L

margin 20px
        TRBL al tiempo

margin 20px 10px
        T B / L R        

margin 10px 10px 20px "No se usa mucho"
        T    LR   B
*/

/*Reset de Estilos*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Parkinsans";
}

/*Footer*/
#footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 300px;
  background-color: rgb(209, 176, 225);
  text-align: center;
}

.footer__social i {
  font-size: 35px;
  color: rgb(85, 51, 117);
}

.footer__button--button {
  border: solid 3px;
  border-radius: 30px;
  padding: 5px;
  color: rgb(243, 235, 255);
}

/*ESTILOS GENERALES BODY*/


body {
  display: flex;
  flex-direction: column;
  background-color: rgb(233, 247, 242);
}


/*Estilos titulos*/
h1, h2 {
  font-family: "Archivo Black";
}

.lander__title {
  font-size: 4.5rem;
  color: rgb(119, 158, 243);
}

h1 {
  font-size: clamp(2rem, 8vw, 3rem);
  color: rgb(106, 121, 205);
}


h2 {
  font-size: 2.5rem;
  color: rgb(106, 121, 205);
}

/*estilos listas*/

li {
  list-style: none;
}


/*estilos links*/

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline; /* Highlight link on interaction */
}

/*Estilos header*/

#header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: rgb(174, 183, 229);
  text-align: center;
}

.navbar-toggler {
  z-index: 1050;
}


.nav-item {
  border: solid rgb(70, 94, 171) 2px;
  border-radius: 20px;
  width: 200px;
}

.navbar-nav {
  align-items: center;
  row-gap: 3px;
}

/* estilos main*/


#main {
  background-color: rgb(230, 236, 245);
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  text-align: center;
  padding-top: 40px;
  margin: 3rem 0;
  max-width: 1800px;
}

.containerMain {
  
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
  padding: 20px 0;
}



.button {
  width: 90px;
  border: none;
  background-color: rgb(139, 107, 191);
  color: white;
  border-radius: 20px;
}


/*HOME PAGE*/


/*Lander*/
.lander {
  justify-content: space-evenly;
  position: relative;
}

.lander__img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
}


/*HomePage - Portfolio Section*/
#carouselExample {
  width: 90%;
  max-width: 1400px;
}

.c-item {
  height: 350px; 
}
/*aplica tambien para carusel de proyectos*/
.c-img {
  height: 100%;
  object-fit: cover;
  object-position: center;
}


/*HomePage - About Me Section*/

.homesect2__info{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

}

.homesect2__image {
  border-radius: 2rem;
  border: solid rgb(134, 134, 204);
  width: 300px;
  height:100%;
}

/*HomePage - Projects Section*/

#carouselExample_2 {
  border: solid rgb(36, 30, 105) 5px;
  width: 90%;
}




/*HomePage - Contact Section*/

.homesect4__image {

  width: 300px;
  height: 100%;
  border-radius: 2rem;
}


.homesect4__form {
  
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly
  
}

.homesect4__formitems {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background-color: rgba(191, 189, 241, 0.676);
    border-radius: 20px;
    padding: 1rem;
    width: 90%;
    height: 300px;
    
}

.formtext, .formArea  {
    text-align: center;
    border: none;
    border-radius: 10px;
    width: 90%;
    
}

.homesect4__formitems textarea{
    height: 100px;
    
}
.formitems-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.formitems-button {
    width: 80px;
    color: rgb(255, 253, 255);
    border: none;
    background-color: rgb(139, 107, 191);
    border-radius: 20px;
}




/* Estilos CCONTACT PAGE*/

.contactPage__image {
  max-width: 300px;
  height: 100%;
}

.contactPage__container {
  border: solid rgb(235, 186, 186);
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
  padding: 20px 0;
}



.contactPage__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  border: solid;
  width: 90%;
  height: 300px;
}

.contactPage__form textarea {
  height: 100px;
}


/*Estilos PORTFOLIO Page*/

.portafolio__pictures{
  border: solid;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 1rem;
}

/*imagenes individuales*/

.portafolio__pictures--img{
  border: red solid 1px;
  
  max-width: 600px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 20px;
  background-color: rgb(182, 213, 255);
  border-radius: 1rem;
  padding: 1rem;
}

.portafolio__pictures--img img{
  max-width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 20px;
  object-fit: cover;
}
.portafolio__pictures--img article{
  font-size: 1rem;
  color: black;
  border: 1px blue solid;
}


/*Estilos PROYECTS Page*/

.projectsPage__container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 1rem;
  gap: 2rem;

}

.project__picture {
  width: 100%;
  height: auto;
}



/*---Media Queries Desktops---*/

@media (min-width: 992px) {

/*Titulos*/
.lander__title {
  font-size: 15rem;
  color: rgb(119, 158, 243);
}

h1 {
  font-size: 4rem;
  color: rgb(106, 121, 205);
}


h2 {
  font-size: 3rem;
  color: rgb(106, 121, 205);
}

/*Header*/

.nav-item {
  border-radius: 20px;
  width: 100px; /*cambio del tamaño de los botones*/
}


/*Main Page*/

#main {
  margin: 3rem auto;
  
}

.containerMain {
  border: dotted 2px rgb(151, 142, 215);
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  row-gap: 20px;
}


/*HOME PAGE*/


/*Lander*/
.lander {
  position: relative;
}

.lander__img {
  max-width: 100%;
  height: 90%;
}

.lander__title {
  position: absolute;
  align-self: center;
  top: 150px;
}

/*HomePage - Portfolio Section*/

.homesect1 {
  height:900px
}

.c-item {
  height: 700px;
}

/*HomePage - About Me Section*/

.homesect2__info{
  
  flex-direction: row;
  column-gap: 3rem;
  padding: 2rem;

}

.homesect2__image {
  width: 400px;
}

/*HomePage - Projects Section*/

.homesect3 {
  height: 900px;
}


/*HomePage - Contact Section*/

.homesect4 {
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

.homesect4__image {
  height: auto;
  width: 400px;
}

.homesect4__form {
  width: 500px;
  height: 500px;
}

.homesect4__formitems textarea{
    height: 200px;
    
}

/*Estilos PORTFOLIO Page*/

/*
.portafolio__pictures{
  
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
}

.portafolio__pictures--img{
  
  height: 700px;
  width: 600px;
  display: flex;
  align-items: center;
}

.portafolio__pictures--img img{
  height: 500px;
  width: 500px;
  border-radius: 20px;
  object-fit: cover;
}
.portafolio__pictures--img article{
  font-size: 1rem;
  color: black;
  
}


/*Footer*/

#footer {
  flex-direction: row;
  height: 150px;
}

.footer__info p {
  margin: 0;  
}


}

/*# sourceMappingURL=style.css.map */
