
  
  /*--------Media Queries Desktops----------*/
  @use "../presets-sass/variables";
  @use "../presets-sass/animaciones";
  
  @media (min-width: 992px) {
  
  
    /*Header*/
    .navbar-collapse {
      
      
      .nav-item {
        border-radius: 20px;
        width: 100px; /*cambio del tamaño de los botones*/
      }
    }
    
    /*Main Page*/
    
    #main {
      margin: 3rem auto;
      
    }
    
    .containerMain {
      
      width: 100%;
      height: 82vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      overflow: hidden;
      row-gap: 20px;
    }
    
    
    /*HOME PAGE*/
    
    
    /*Lander*/
    .lander {
      position: relative;
    }
    
    .lander__img {
      max-width: 100%;
      height: 90%;
    }
    
    .lander__title {
      position: absolute;
      align-self: center;
      top: 150px;
    }
    


    /*HomePage - Portfolio Section*/
    
    .homesect1 {
      height:900px
    }
    
    .c-item {
      aspect-ratio: 2/1;
    }
    
    /*HomePage - About Me Section*/
    .homesect2 {
      height: 91vh;
      
    }
    .homesect2__info{
      width: 95%;
      flex-direction: row;
      column-gap: 3rem;
      padding: 2rem;
      justify-content: space-evenly;
      
      img { width: 400px;}

      p {border:solid; 
        border-color: variables.$color4;
        border-radius: 1rem;
        max-width: 800px; 
        padding: 1rem;
        }
    }
    
 
    /*HomePage - Projects Section*/
    
    .homesect3 {
      height: 900px;
    }
    
    
    /*HomePage - Contact Section*/
    
    .homesect4 {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    
    
    /*Estilos CONTACT Page*/
    
    .contactPage__container {
      flex-direction: row;
      justify-content: space-evenly;
      height: 80vh;

      .contactPage__form{
        height: 600px;
      }
      
    }
    .mapaFormContacto iframe{
      width: 800px;
      border-radius: 1rem;
    }
    

    
    /*Estilos PROYECTS Page*/
    /*ilustracion Luisa*/
    .projectsPage__container1 {
      height: 100vh;
      
      grid-template-columns: 2fr 1fr 2fr 2fr;
      grid-template-rows: 3rem 2fr 2fr 7rem;
      align-items: center;
      gap: 1rem;
    }
    
    .project__picture {
      margin: 0;
      border-radius: 1rem;
      max-width: 100%;
    }
    
    .project1__title{
      grid-column: 1/4;
    }
    
    .projectimg1 {
      grid-column: 2/5;
      grid-row: 2/4;
      height: 100%;
      object-fit: cover;
    }
    
    .projectimg2 {
      grid-column: 1/2;
      grid-row: 2/3;
      align-self: stretch;
      justify-self: stretch;
    }
    
    .project1--paragrahp {
      grid-column: 1/5;
      grid-row: 4/5 ;

    }
    .projectimg3 {
      grid-column: 1/2;
      grid-row: 3/4;
      align-self: stretch;
      justify-self: stretch;
    }
  
    /*horoscopos*/
    .projectsPage__container2 {
      height: 400vh;
      
      grid-template-columns: 2fr 1fr 2fr 2fr;
      grid-template-rows: 3rem 2fr 1fr 1fr repeat(3,1rem 2fr  1fr 1fr);
      align-items: center;
      gap: 1rem;
    }

    .project2img1 {
      grid-column: 1/3;
      grid-row: 2/5 ;
      object-fit: cover;
    }

    .project2img2{ 
      grid-column: 3/4;
      grid-row: 2/4;
    }
    .project2img3 {
      grid-column:4/5;
      grid-row: 2/4;
    }
    .project2--paragrahp {
      grid-column:3/5 ;
      grid-row:4/5 ;
      padding: 1rem;
    }
    /*Signos Tierra*/
    .project2img4 {
      grid-column:1/3;
      grid-row: 6/9;
      object-fit: cover;
    }

    .project2img5{
      grid-column:3/4 ;
      grid-row: 6/8;
    }
    .project2img6 {
      grid-column: 4/5;
      grid-row: 6/8;
    }

    .project2--paragrahp2 {
      grid-column: 3/5;
      grid-row: 8/9;
      
    }
    /*Signos Fuego*/

    .project2img7 {
      grid-column:1/3;
      grid-row: 10/13;
      object-fit: cover;
    }

    .project2img8{
      grid-column:3/4 ;
      grid-row: 10/12;
    }
    .project2img9 {
      grid-column: 4/5;
      grid-row: 10/12;
    }

    .project2--paragrahp3 {
      grid-column: 3/5;
      grid-row: 12/13;
      
    }


    /*Signos Agua*/
    .project2img10 {
      grid-column:1/3;
      grid-row: 14/17;
      object-fit: cover;
    }

    .project2img11{
      grid-column:3/4 ;
      grid-row: 14/16;
    }
    .project2img12 {
      grid-column: 4/5;
      grid-row: 14/16;
    }

    .project2--paragrahp4 {
      grid-column: 3/5;
      grid-row: 16/17;
      
    }

    /*Polinizadores*/

    .projectsPage__container3 {
      height: 100vh;
      
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 3rem 2fr 1fr 1fr;
      align-items: center;
      gap: 1rem; 
    }

    .project3__title{
      grid-column:1/3 ;
      }
    .project3img1 {
      grid-column: 1/3;
      grid-row: 2/5;
      object-fit: cover;
    }
    .project3img2{
      grid-column: 3/4;
      grid-row:2/4 ;
    }
    .project3img3{
      grid-column:4/5 ;
      grid-row:2/4 ;
    }
    .project3--paragrahp{
      grid-column:3/5 ;
      grid-row: 4/5;
    }



    /*About Me Page*/

    .aboutMe__container{
      height: 80vh;
      flex-direction: row;
      background-color: rgb(230, 236, 245);
      border: dotted 2px rgba(154, 209, 212);
      border-radius: 1rem;
      
      article {
        padding: 1rem;
      }
    }



    /*Footer*/
    
    #footer {
      flex-direction: row;
      height: 150px;
    }
    
    .footer__info p {
      margin: 0;  
    }

}