  /*ESTILOS GENERALES BODY*/
  @use "variables" ;
  
  body {
    display: flex;
    flex-direction: column;
    background-color:variables.$color5;
  }
  
  /*estilos listas*/
  
  li {
    list-style: none;
    transition:all 0.3s; /*animacion botones header*/
    
  }
  li:hover{
    font-weight: bold;
    background-color: variables.$color1;
    border-radius: 30px;
    border: white;
    

    transform: translateY(-3px); /*animacion botones header*/
    .nav-link {
      color:variables.$color5;
    }
  }
  
  /*estilos links*/
  
  a {
    text-decoration: none;
  }
  
 /*estilo mensaje formulario*/
  ::placeholder {
    color: rgb(148, 167, 214);
  }

