  /*ESTILOS GENERALES BODY*/
  
  
  body {
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 247, 242);
  }
  
  /*estilos listas*/
  
  li {
    list-style: none;
    transition:all 0.3s; /*animacion botones header*/
  }
  
  
  /*estilos links*/
  
  a {
    text-decoration: none;
  }
  
  li:hover{
    font-weight: bold;
    background-color: rgb(189, 189, 238);
    border-radius: 30px;
    transform: translateY(-3px); /*animacion botones header*/
  }

  li:active {
    background-color:rgb(172, 107, 238) ;
  }
  
  ::placeholder {
    color: rgb(148, 167, 214);
  }

