  /*Estilos header*/
  
  #header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: rgb(174, 183, 229);
    text-align: center;

    .navbar-nav {
      align-items: center;
      row-gap: 3px;
    }
 
    .navbar-toggler {
      z-index: 1050;
    }
  }
  
  .nav-item {
    border: solid rgb(70, 94, 171) 2px;
    border-radius: 20px;
    width: 200px;
  }
  

  