
  @use "variables";
  @use "animaciones";

  /*Estilos titulos*/
  h1, h2 {
    font-family: "Archivo Black";
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 2px 2px rgb(124, 87, 227) ;

    animation: inTop 0.5s 0.4s both;
  }
  
  .lander__title {
    font-size: clamp(4rem, 20vw, 20rem);
    color: variables.$title-color2;
  }
  
  h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    color: variables.$title-color2;
    text-align: center;
    margin-top: 10px;
    transition: color 0.3s;
    
  }
  h1:hover{
    color:variables.$color1;
  }
  
  h2 {
    font-size: clamp(2rem ,6vw, 3rem);
    color:variables.$title-color2;
    transition: color 0.3s;
    text-transform:uppercase ;
  }
  h2:hover{
    color: variables.$color1;
  }

  h3 {
    color: variables.$title-color3;
    font-weight: bold;
  }

